<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="flex items-center justify-center">
    <h1 class="mt-10 py-2 text-4xl font-semibold border-b-[3px] border-purple-600">All Books</h1>
</div>

<div class="max-w-screen-xl flex flex-col mt-10 flex-wrap items-center justify-between mx-auto p-4">

    <h1>hiiiii</h1>

</div>


<%- include("partials/footer") %>